<div class="container-general" *ngIf="!estado">
  <div class="container">
    <div class="titulo">
      <!-- <h1>Ensayo Experimental</h1> -->
      <form
        [formGroup]="documentoForm"
        *ngIf="!estadoBotones"
        class="formulario"
      >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Numero de Documento</label
          >
          <input
            type="text"
            class="form-control"
            id="documento"
            formControlName="documento"
          />
          <div
            id="error"
            class="form-text mensaje-error"
            *ngIf="documento?.errors?.['required'] && documento?.touched"
          >
            Ingresar el numero de documento el obligatorio
          </div>
          <div
            id="errorNumeros"
            class="form-text mensaje-error"
            *ngIf="documento?.errors?.['pattern']"
          >
            El campo solo recibe numero porfavor varificar
          </div>
          <div
            id="errorMin"
            class="form-text mensaje-error"
            *ngIf="documento?.errors?.['minlength']"
          >
            El documento debe tener mas de 6 caracteres
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="verificar(content)"
          [disabled]="!documentoForm.valid"
        >
          Ingresar
        </button>
        <!-- Modal -->
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Bienvanido/a</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="d('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <p *ngIf="estadoBotones">
              Estimado participante: A continuación, se le presentará una serie
              de tareas sencillas, en las que hipotéticamente se le dará una
              suma de dinero específica, posteriormente, usted deberá elegir
              entre dos opciones (1 y 2) para determinar la manera en la que
              dispondrá de ese dinero, según su criterio. Se le pide que no tome
              demasiado tiempo a la hora de elegir entre las opciones sugeridas;
              si tiene alguna duda adicional, comuníquese con los investigadores
              a cargo.
            </p>
            <p *ngIf="!estadoBotones && !documentoValidar.existe">
              Gracias por su participacion
            </p>
            <p *ngIf="!estadoBotones && documentoValidar.existe">
              el usuario con este documento ya participo
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="c('Save click')"
              (click)="simularClick()"
            >
              Continuar
            </button>
          </div>
        </ng-template>
      </form>
    </div>
    <div class="lista-botones" *ngIf="estadoBotones">
      <button
        type="button"
        class="btn btn-outline-secondary me-2"
        [placement]="posicionPopover"
        ngbPopover="Comencemos con algunos ensayos para comprender el procedimiento"
        #miBoton
        [positionTarget]="target"
        style="display: none"
      >
        boton 1
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="tipoEnsayo(ETipoEnsayos.VERIFICACION)"
        #target
      >
        Ensayos de verificación
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary me-2"
        [placement]="posicionPopover"
        ngbPopover="¡Hagamos un último entrenamiento para que tengas todo claro!"
        #BotonEntrenamiento
        [positionTarget]="target2"
        style="display: none"
      >
        boton 2
      </button>
      <button
        #target2
        type="button"
        class="btn btn-secondary"
        (click)="tipoEnsayo(ETipoEnsayos.ENTRENAMIENTO)"
        [disabled]="!dataGeneral?.ensayo?.[ETipoEnsayos.VERIFICACION]"
      >
        Ensayos de entrenamiento
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary me-2"
        [placement]="posicionPopover"
        ngbPopover="¡Perfecto! ahora sí, vamos a jugar!"
        #BotonExperimento
        [positionTarget]="target3"
        style="display: none"
      >
        boton 3
      </button>
      <button
        #target3
        type="button"
        class="btn btn-success"
        (click)="tipoEnsayo(ETipoEnsayos.EXPERIMENTAL)"
        [disabled]="!dataGeneral?.ensayo?.[ETipoEnsayos.ENTRENAMIENTO]"
      >
        Ensayos experimentales
      </button>
    </div>
  </div>
</div>

<app-pages
  *ngIf="estado"
  [tipoEnsayo]="tipo"
  [dataEnsayo]="dataEnsayos"
  [dataGeneral]="dataGeneral"
  (respuestasGeneral)="validarData($event)"
></app-pages>
